/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    cursor: cell;
}

.word {
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255);
}

.word > * {
    margin: 0;
}

.word:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: cell;
}

.pronunciation {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.word-type {
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
}

.definition {
    color: white;
    font-size: 13px;
}

.example {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-style: italic;
}

.gift {
    position: absolute;
    top: -500px;
    transition: all .2s ease-in-out;
}

.gift:hover {
    cursor: cell;
    filter: brightness(1.2);
    transform: scale(1.6);
}

.gift-left {
    position: absolute;
    left: 50%;
    transform: translate(-100%);
    display: none;
}

.gift-right {
    position: absolute;
    right: 50%;
    transform: translate(100%);
    display: none;
}

.advent {
    display: block;
}

.postvent {
    display: none;
}

.essay {
    display: none;
    opacity: 0;
    width: 305px;
    overflow: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.events {
    display: grid;
    grid-template-columns: auto auto;
}

.events:hover {
    cursor: cell;
    background-color: black;
}

.trigger {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* .word.essay {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    justify-items: center;
    align-items: center; 
  } 
*/
  
  .trigger {
    grid-column: 1 / span 2; /* This makes the trigger span the whole first row */
    grid-row: 1; /* This places the trigger in the first row */
  }
  
  .horsemen:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  
  .horsemen:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
  
  .horsemen:nth-child(4) {
    grid-row: 3;
    grid-column: 1;
  }
  
  .horsemen:nth-child(5) {
    grid-row: 3;
    grid-column: 2;
  }

.horsemen {
    position: relative;
    display: none;
    text-align: center;
    width: 70%;
    height: 50%;
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.horsemen:hover {
    filter: brightness(1.2);
}

.content {
    display: none;
}

.horsemen .content {
    position: relative; /* This ensures the text content is above the ::before pseudo-element */
  }

.horsemen::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); /* black overlay, 50% opacity */
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.2);
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    cursor: cell;
}

.draggable {
    display: none;
    height: 300px;
}

.content {
    font-size: 20px;
}
